body{
    background: url(images/background-.jpg) no-repeat;
    background-size: cover;
}




/* Шапка сайта */





.container{
    max-width: 1170px;
    margin: 0 auto;
}

.nav_panel{
    width: 100%;
    height: 102px;
    background-color: rgba(150, 150, 150, 0.5);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
  margin-top: 21px;
}

.mwnu{
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
}

.mwnu ul{
    list-style-type: none;
}

.mwnu li{
    display: inline-block;
    padding-right: 48px;
}

.mwnu li:last-child{
    padding-right: 0;
}

.mwnu a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}

.active,
.tab_active{
    border-bottom: solid #ffa700;
}

.icon_burger{
    width: 20px;
    height: 5px;
    background-color: #ffa700;
    position: absolute;
    top: 7px;
    right: 0;
    display: none;
    z-index: 5;
}

.icon_burger:before{
    content:"";
    display: block;
    width: 20px;
    height: 5px;
    background-color: #ffa700;
    position: absolute;
    top: 8px;
    right: 0;
}

.icon_burger:after{
    content:"";
    display: block;
    width: 20px;
    height: 5px;
    background-color: #ffa700;
    position: absolute;
    top: 17px;
    right: 0;
}

.mwnu_mobile{
    width: 120px;
    height: 100px;
    background-color: #6f00ff;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    margin-top: -112px; 
    transition: all ease 1000ms;  
}

.menu_active{
    margin-top: 0px;
}

.mwnu_mobile ul{
    list-style-type: none;
}

.mwnu_mobile a{
    font-size: 16px;
    line-height: 25px;
    position: relative;
    right: 30px;
    color: #ffffff;
    text-decoration: none;
}

.aitem{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 100px;
    margin-left: 40%; 
}

.aitem span{
    color: #ea00ff;
    margin-left: 22.1%;
}

.stars{
    display: flex;
    justify-content: space-between;
}

.left_star{
    width: 50px;
    height: 50px;
    background-image: url(icons/white-star.png);
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-left: 3px;
    transition-duration: 1000ms;
    position: absolute;
}

.left_star:hover{
    width: 100px;
    height: 100px;
    background-image: url(icons/star-icon.png);
    background-repeat: no-repeat;
}

.right_star{
    width: 50px;
    height: 50px;
    background-image: url(icons/white-star.png);
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-left: 3px;
    transition-duration: 1000ms;
}

.right_star:hover{
    width: 100px;
    height: 100px;
    background-image: url(icons/star-icon.png);
    background-repeat: no-repeat;
}




/* Основное содержание сайта,главная */





.two_level_updates{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.updates{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1170px;
}

.link,
.link:hover,
.link:active{
    text-decoration: none;
   
}

.rgba{
    width: 300px;
    height: 300px;
    background-color: rgba(136, 4, 238, 0.7);
    transition-duration: 1000ms;
    opacity: 0;
}

.rgba h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffa700;
    text-transform: uppercase;
    text-align: center;
    text-transform: none;
    margin: 0;
    padding: 0;
    padding-top: 50%;
}

.rgba:hover{
    opacity: 1;
}

.index_anime_real_drive{
    width: 300px;
    height: 300px;
    background: url(images/anime_real_drive.jpg) no-repeat;
    background-size: contain;
}

.index_love_exchange{
    width: 300px;
    height: 300px;
    background: url(images/series_love_who-changed_the_world.jpg) no-repeat;
    background-size: contain;
}




/* Основное содержание сайта,переводы */




.she_dragom{
    width: 300px;
    height: 300px;
    background: url(images/manga_on_dragon.jpg) no-repeat;
    background-size: contain;
}

.i_m_not_used_to_being_a_girl{
    width: 300px;
    height: 300px;
    background: url(images/manga_I_not_accustomed_to_be_girl.jpg) no-repeat;
    background-size: contain;
}

.why_i_love_you{
    width: 300px;
    height: 300px;
    background: url(images/manga_for_that_I_love_you.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.let_s_continue_tomorrow{
    width: 300px;
    height: 300px;
    background: url(images/manga_sensei_your_hand_please.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.Sensei_ote_o_douzo{
    width: 300px;
    height: 300px;
    background: url(images/manga_let_continue_tomorrow.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.Tomorrow{
    width: 300px;
    height: 300px;
    background: url(images/manga_tomorrow.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.love_at_a_special_level{
    width: 300px;
    height: 300px;
    background: url(images/manga_love_at_special_level.jpg) no-repeat;
    background-size: contain;
}

.alderamin_in_the_sky{
    width: 300px;
    height: 300px;
    background: url(images/manga_deramin_in_the_the-sky.jpg) no-repeat;
    background-size: contain;
}

.boring_lies{
    width: 300px;
    height: 300px;
    background: url(images/manga_-boring_lies.jpg) no-repeat;
    background-size: contain;
}

.you_can_confess_your_love_to_me{
    width: 300px;
    height: 300px;
    background: url(images/manga_can_confess_me_love.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.Infernal_agents{
    width: 300px;
    height: 300px;
    background: url(images/manga_ad_agents.jpg) no-repeat;
    background-size: contain;
}





/* Основное содержание сайта,озвучка */





.tab_button{
    display: flex;
    justify-content: center;
}

.tab_button a{
    font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 20px;
     line-height: 30px;
     color: #ffffff;
     text-decoration: none;
     text-align: center;
     margin-left: 20px;
}

.tab_container{
    margin-top: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
}

.content_active{
    display: block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.series_voice{
    width: 300px;
    height: 300px;
    background: url(images/series_voice.jpg) no-repeat;
    background-size: contain;
}

.series_kiss_cobra{
    width: 300px;
    height: 300px;
    background: url(images/series_kiss_cobra.jpg) no-repeat;
    background-size: contain;
}

.love_exchange{
    width: 300px;
    height: 300px;
    background: url(images/series_love_who-changed_the_world.jpg) no-repeat;
    background-size: contain;
}

.series_фngkor{
    width: 300px;
    height: 300px;
    background: url(images/series_фngkor.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.anime_real_drive{
    width: 300px;
    height: 300px;
    background: url(images/anime_real_drive.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.fairy_tale_birth{
    width: 300px;
    height: 300px;
    background: url(images/fairy_tale_birth.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.fairy_tale_light{
    width: 300px;
    height: 300px;
    background: url(images/fairy_tale_light.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.fairy_tale_pen{
    width: 300px;
    height: 300px;
    background: url(images/fairy_tale_pen.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.fairy_tale_land_and_dragon{
    width: 300px;
    height: 300px;
    background: url(images/fairy_tale_land_and_dragon.jpg) no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.order_voice_acting{
   max-width: 425px;
   margin: 0 auto; 
   position: relative;
}

.icon_message{
    width: 200px;
    height: 200px;
    background: url(icons/icon_message.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 30px;
    left: 50%;
}

.icon_message p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8c00ff;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

.button_order{
    display: block;
    width: 200px;
    height: 70px;
    background-color: #ffa700;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #8c00ff;
    text-align: center;
    text-decoration: none;
    padding-top: 35px;
    position: relative;
    left: 25%;
    transition: ease 1s;
    border-radius: 5px;
}

.button_order:hover{
    border-radius: 50%;
}






/* Подвал сайта */





.social{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.vk{
    width: 50px;
    height: 50px;
    background: url(icons/icon_vk.png) no-repeat;
    background-size: contain;
}

.youtube{
    width: 50px;
    height: 50px;
    background: url(icons/icon_youtube.png) no-repeat;
    background-size: contain;
    margin-left: 40px;
}
